<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>module2-solution</title>
	<link rel="stylesheet" href="static/style.css">
</head>

<body>
  <h1>Choose the Categories</h1>
  <div class="ch col-lg-6 col-md-12">
  	<a href="{{ url_for('Restaurant') }}"><h3 id="Restaurants">Restaurants</h3></a>
  <p id="p1"> Restaurants descriptions </p>
  </div>
  <div class="be col-lg-6 col-md-12">
  	<a href="{{ url_for('Carpenter') }}"><h3 id="Carpenter">Carpenter</h3></a>
  <p id="p2"> Carpenter description</p>
  </div>
  <div class="be col-lg-6 col-md-12">
  	<a href="{{ url_for('HouseHelp') }}"><h3 id="HouseHelp">HouseHelp</h3></a>
  <p id="p2"> HouseHelp Labour description</p>
  </div>
  <div class="be col-lg-6 col-md-12">
  	<a href="{{ url_for('Driver') }}"><h3 id="Driver">Driver</h3></a>
  <p id="p2"> Driver Labour description</p>
  </div>
  <div class="be col-lg-6 col-md-12">
  	<a href="{{ url_for('Barber') }}"><h3 id="Barber">Barber</h3></a>
  <p id="p2"> Barber Labour description</p>
  </div>
</body>
</html>